h2 {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 4em;
    margin: 20px 0;
    color: darkgreen;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact button {
    margin-left: auto;
}

.fields {
    width: 100%;
    margin: 10px 0;
}
.names {
    display: flex;
    flex-direction: row;
}

.first-name, .last-name, .house, .message {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.message input {
    min-height: 300px;
}