html {
    height: 100%;
}

body {
    height: 100%;
    color: white;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#root nav {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.5rem 20%;
    flex: 1 0 auto;
    background-color: gray;
}

.home > #activity {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.5rem 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.home button {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: .5rem;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: fit-content;
}

.home button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.home button:main,
.home button:focus {
  user-select: auto;
}

.home button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.home button:disabled {
  cursor: auto;
}

.footer {
    width: 100%;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    flex-shrink: 0;
}

.footer > .container {

}

.hide {
    visibility: hidden;
}