body {
    background-image: url(./images/zoo_bg.jpg);
    backdrop-filter: blur(2px);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

#top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 3rem;
    justify-content: center;
}

#top h1 {
    margin: 0 .5rem;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 0 auto 2rem auto;
}

@media only screen and (max-width: 1600px) {
    #content {
        width: 75%;
    }
}
@media only screen and (max-width: 800px) {
    #weatherResults {
        width: 75%;
    }
}

#zooSubmit {
    text-align: center;
    width: 7rem;
background: linear-gradient(180deg, #d4fc79 0%, #96e6a1 100%);
    color: darkgreen;
    font-weight: bold;
    padding: .5rem;
    border: none;
    border-radius: 10px;
}
#zooSubmit:hover {
cursor: pointer;
}
#zooSubmit:active {
    background: linear-gradient(0deg, #d4fc79 0%, #96e6a1 100%);
}

#animal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.card {
    max-width: 800px;
}

#footer {
    background-color: #8C5230;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#footer a {
    color: white;
}
